asgiref==3.5.0
astroid==2.11.4
colorama==0.4.4
dill==0.3.4
Django==4.0.4
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
psycopg2==2.9.3
pylint==2.13.8
python-dotenv==0.20.0
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
wrapt==1.14.1