{% extends 'base.html'%}

<style>
table, th, td {
  border: 1px solid black;
}
</style>
{% block content %}
<div class="col-sm-7 offset-1" style="max-width:100%;align-content:center;">
  <h4 class="text-center alert alert-info" style="width:80%;align-content:center;">Posts
   Information</h4>
    <br><br>
    <div>
        <ul style="list-style-type:none;display: flex;justify-content: center;margin-right: -200px;color:black;">
            <li style="padding-right:20px;font-weight:700;"><a href="{% url 'is_active' %}">Active Post</a></li>
            <li style="font-weight:700;"><a href="{% url 'addpost' %}">Add Post</a></li>

        </ul>
    </div>
    <br><br>

    {% if post %}
        <table style="width:inherit;">
            <thread>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">Action</th>
            </tr>
            </thread>
            <tbody>
            {% for post in post %}
                <tr>
                <th scope="row">{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                    <td>

                    <form action="{% url 'delete' post.id %}" method="post" class="d-inline">
                      {% csrf_token %}
                        <a href="{% url 'edit' post.id %}" class="btn btn-warning btn-sm" type="button">Edit</a>
                      <input type="submit"  class="btn btn-danger" value="Delete">
                    </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table><br>
    {% else %}
        <h4 class="text-center alert alert-info">No Records</h4>
    {% endif %}
</div>
{% endblock %}
