<!--{% if user.is_authenticated %}-->
<!-- <p> You need to logout first!</p>-->
<!-- <p type="none"><a href="{% url 'logout' %}" type="submit">Logout</a></p>-->
<!--{% else %}-->
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="{% url 'login' %}">
    </form>

    {% if messages %}
      {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <strong>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      ERROR
                    {% else %}
                      {{ message.tags|title }}
                    {% endif %}
                </strong>
                {{ message }}
            </div>
        </div>
      {% endfor %}
    {% endif %}

    <div>
        Not a User?<a href="{% url 'register' %}" type ="submit"> Register Here</a>
    </div>
<!--{% endif %}-->